<strong>
  Olá, {{ deliverer }}
</strong>
<p>
  Houve um cancelamento de uma encomenda.
  Confira os detalhes abaixo:
</p>
<p>
    <strong>Recebedor: </strong>{{ recipient }} <br/>
    <strong>Produto: </strong>{{ product }} <br/>

    <strong>Problema: </strong>{{ problem}} <br/>
    <br/>
</p>
