<strong>
  Olá, {{ deliverer }}
</strong>
<p>
  Você tem uma nova encomenda para retirar.
  Confira os detalhes abaixo:
</p>
<p>
    <strong>Recebedor: </strong>{{ recipient }} <br/>
    <strong>Produto: </strong>{{ product }} <br/>
    <br/>
</p>
